.navbar {
  margin-top: 0px;
  height: 78px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 48px #0000000f;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heading1 {
  top: 30px;
  left: 119px;
  width: 108px;
  height: 27px;
  text-align: left;
  font: normal normal 900 26px/27px Avenir;
  letter-spacing: 1.8px;
  color: #5861ae;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 100px;
}
.navbarright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}
.navbarright {
  padding-left: 55%;
}
.navbarright h4 {
  padding-left: 50px;
  font: normal normal normal 18px/19px Avenir;
}
.navbutton1 {
  padding: 25px;
  font: normal normal normal 800 20px/19px Avenir;
  background: #5861ae 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  color: #ffffff;
}
